﻿@{
    ViewBag.Title = "API Call";
}

<div class="row">
    <div class="col-md-12">
        <h2>API Call Page</h2>

    </div>

    <div class="col-md-4">
        <input type="button" value="View APP" onclick="location.href='@Url.Action("ViewApp", "Home")'" />
    </div>
    @if (ViewBag.ShowList == true)
    {
        <div class="col-md-4">
            <input type="button" value="Update APP" onclick="location.href='@Url.Action("CreateApp", "Home")'" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Create APP" onclick="location.href='@Url.Action("CreateApp", "Home")'" />
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Content))
    {
        <script type="text/javascript">
        alert("@ViewBag.Content");
        </script>
    }
</div>
